<template name="carouselTemplate">

 <div id="myCarousel" class="carousel slide" data-ride="carousel" style =   {{carouselStyle}}>
                        <!-- Indicators -->

                        <ol id='indicator' class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner" role="listbox" style ={{carouselStyle}}>
                            <div class="item active" style ={{carouselStyle}}>
                                <img class="img-responsive" src="images/carousel/dandy.png" alt="Model" style="max-width: 100%;max-height: 100%;">
                            </div>

                            {{#each carousel}}
                            <div class="item" style ={{carouselStyle}}>
                                <a href={{link}}>
                                    <div class="carousel-caption">
                                        <h1>{{title}}</h1>
                                        <p>{{desc}}</p>
                                    </div>
                                    <img class='img-responsive' src="images/products/common/{{image}}" style="max-width: 100%;max-height: 100%;" alt="Model">
                                </a>
                            </div>
                            {{/each}}
                        </div>

                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

    <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 2000
    })
  });
</script>

</template>
