<template name="navigationBar">
    <nav class="navbar" id='nav-main'>
        <div class="container-fluid background-black navbar-shop-website">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <div id="navbar-container-toggle">
                <button type="button" class="navbar-toggle collapsed hover-gray" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/main" class="logo-image-container"><img class="img-responsive" id="logo-bar-toggle" src="images/white-logo-try.png"> </a>
                </div>
            </div>

            <div id="navbar-container">
                <ul class="nav navbar-nav">
                    <li><a href="/who-we-are"> WHO WE ARE </a></li>
                    <li><a href="/how-does-it-work"> HOW DOES IT WORK </a></li>
                </ul>
                <a href="/main" class="logo-image-container"><img class="img-responsive navbar-collapse" id="logo-image" src="images/white-logo-try.png">  </a>
                <ul class="nav navbar-nav">
                    <li><a href="/contacts">CONTACTS</a></li>
                    <li><a href="/shopping-page">SHOP</a></li>
                    <li><a href="/main">HOME</a></li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/who-we-are"> WHO WE ARE </a></li>
                <li><a href="/how-does-it-work"> HOW DOES IT WORK </a></li>
                <li><a href="/contacts">CONTACTS</a></li>
                <li><a href="/shopping-page">SHOP</a></li>
                <li><a href="/main">HOME</a></li>
            </ul>
        </div>

    </nav>
</template>