.img-basket {
	float:left;
	margin-right: 10px;

}

#basket-content {
   width: 80%;
   margin-left: 10%;
}

.table-div {
  font-size: 15pt;	
  margin-top:2px;
}


.basket-th {
	font-size: 15pt;
}

.continue-customized, .proceed-to-checkout-button {
   font-size: 12pt;
   font-weight:bold;
}

#basket-final-row-col1{
 padding-top: 20px;
}

#basket-final-row-col2{
  padding-top: 20px;	
}