@media (max-width:400px) {

  .basket-th {
    font-size: 9pt;
   }

  
  .proceed-to-checkout-button {
   font-weight:bold;
   font-size: 7pt;
   }
  .table-div {
  font-size: 9pt;
 }  

}


@media (min-width:401px) and (max-width: 500px) {

.basket-th {
  font-size: 10pt;
 }
  
.proceed-to-checkout-button {
   font-weight: bold;
   font-size: 8pt;
   }
  .table-div {
  font-size: 9pt;
 }  

}

@media (min-width: 501px) {

  .basket-th {
  font-size: 15pt;
}

  
.proceed-to-checkout-button {
   font-size: 13pt;
   font-weight: bold;
   }

 .table-div {
  font-size: 15pt;
 }

}


.img-basket {
	float:left;
	margin-right: 10px;
  max-height:40px;

}

#basket-content {
   width: 80%;
   margin-left: 10%;
}

.table-div {
  margin-top:2px;
}

.continue-customized {
   font-size: 12pt;
   font-weight:bold;
}

#basket-final-row-col1{
 padding-top: 20px;
}

#basket-final-row-col2{
  padding-top: 20px;	
}