@media (max-width:400px) {

  .proceed-to-checkout-button {
   font-size: 7pt;
   }
  .table-div {
  font-size: 9pt;
 }  

}


@media (min-width:401px) and (max-width: 500px) {
  
.proceed-to-checkout-button {
   font-size: 8pt;
   }
  .table-div {
  font-size: 9pt;
 }  

}

@media (min-width: 501px) {
  
.proceed-to-checkout-button {
   font-size: 13pt;
   }

 .table-div {
  font-size: 15pt;
 }

}


.img-basket {
	float:left;
	margin-right: 10px;

}

#basket-content {
   width: 80%;
   margin-left: 10%;
}

.table-div {
  margin-top:2px;
}


.basket-th {
	font-size: 15pt;
}

.proceed-to-checkout-button {
   
   color: white;
   background-color: black;
   width: auto;
   border-radius: 0;
   outline: none;
}

#basket-final-row-col1{
 padding-top: 20px;
}

#basket-final-row-col2{
  padding-top: 20px;	
}