
.tales {
  width: 100%;
}


.carousel img {
  top: 0;
  left: 0;
  height: 500px;
}

.carousel-image{
	min-height: 100%;
	max-height:110%;

}



@media (max-width: 480px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){

}

@media (max-width: 991.99px) {
  
  #myCarousel {
  	width:100%;
  	display:flex;
  	justify-content:center;
  }

  .carousel-class{
	height:400px;
	width:300px;
    }
}

@media (min-width: 992px) and (max-width: 1300.99px){
  .carousel-class{
	height:400px;
  }
}

@media(min-width: 1301px) {
.carousel-class{
	height:580px;
  }	
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}