
.tales {
  width: 100%;
}


.carousel img {
  top: 0;
  left: 0;
  height: 500px;
}

.carousel-image{
	min-height: 100%;

}

@media (max-width: 480px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){

}

@media (max-width: 992px){

}

.carousel-control.left, .carousel-control.right {
    background-image: none
}