
/*New Code*/
#main-footer{
  z-index:1;
  background-color:black;
}
.footer-dimensions .row{
	padding-top:2%;
	padding-bottom:3%;
}
.footer-dimensions{
	padding-top:2%;
	padding-bottom:2.2%;
	z-index:4;
	background-color:black;
}


.footer-content p {
   padding-top:3px;
   word-wrap: break-word;
   color:#B39F88;
}

.footer-content a  {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:15px;
   color:#B39F88;
   display:block;
   padding-left:none;
}

.footer-social a{
   display:block;
   padding-top:5px;
   padding-bottom:10px;
   color:white;
}


.footer-content h {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

   margin-top:10px;
   font-size:17px;
   font-weight:bold;
   padding-top:17px;
   padding-bottom:20px;
   word-wrap: break-word;
   color:#E6D8C8;
   display:block;
}

.footer-social h {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

   font-size:17px;
   font-weight:bold;
   padding-top:17px;
   padding-bottom:20px;
   word-wrap: break-word;
   color:#E6D8C8;
   display:block;
   margin-top:10px;
}

.custom-form .form-control {
	background-color:#3B2C1C;
	border:none;
	height:28px;
}

.custom-form .btn {
  font-size:9.9px;
}

@media (max-width :768px){
	footer { position: relative; bottom:0;}
	.footer-content { padding-top:30px; }
	.footer-social { padding-top:30px; }
	.footer-content p {margin-bottom:0px;}
}


