.text-desc, .instr-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    color:black;
    font-weight:bold;
}

.text-desc{
    padding-top:5%;
}

.instr-text{
    padding-top:10%;
}

.instr-text a, .text-desc a{
  color:grey;
}

.background-desc{
  background-color:white;
  padding-left:5%;
  padding-right:5%;
}

.info-body {
 background-color: #f5f5ef;
}

.who-we-are-photo img{

}