.sampleClass {
	  background-image: url("images/landingPage/VEST_MASTERS_HOMEPAGE.jpg");
       background-repeat:no-repeat;
       background-size:cover;
        background-position: top center;
         width: 100%;
      /*
      width: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}





.logo-text-landing {
  padding-top: 5%;
  padding-left: 12%;
  color: white;
  font-size: 70px;
  font-weight:bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing-menu {
  padding-top: 30%;
  padding-left: 12%;
  padding-bottom: 2%;
  font-size: 20px;
  color: white;
  position:fixed;
  bottom:0;
}

.landing-menu a{
   color:white;
}


.landing-intro p {
   width: 38%;
   padding-left: 12%;
   margin-right:7%;
   padding-top:5%;
   color: white;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:16px;
}

@media (max-width :768px){
   .logo-text-landing{
     font-size: 20px;
   }
}

@media (max-width :930px){
   .logo-text-landing{
     font-size: 30px;
   }
}


