@media (min-width: 1101px) {

  
  #logo-image{
    max-width: 350px;
  }

  #logo-bar-toggle {
    display:none;
  }

  #bs-example-navbar-collapse-1{
    display: none !important;
  }

}

@media (min-width: 992px) and (max-width: 1100.99px){
   
  #logo-image{
    max-width: 270px;
  }

  #logo-bar-toggle {
    display:none;
  }

   #bs-example-navbar-collapse-1{
    display: none !important;
  }

}

@media (max-width: 991.99px){
  

  #navbar-container{
    display:none !important;
  }

  #bs-example-navbar-collapse-1{
    background-color: black;
  }

   #bs-example-navbar-collapse-1 > ul > li >  a{
    color:white;
   }

    #bs-example-navbar-collapse-1 > ul > li > ul > li >  a{
    color:white;
   }

}

@media (min-width: 992px)  {

  #navbar-container{
    height:70px;
  }

   .logo-image-container-toggle {
     display: nonde;
   }

   .logo-image-container{
     margin-left:40%;
     width:20%;
   }

   .navbar-shop-website {
     height:70px;
   }

}

@media (max-width: 991.99px) and (min-width: 769px){
 
  #logo-bar-toggle {
  max-height: 100%;
  height:40px;
  max-width: 350px;
  width:100%;
}

#navbar-container-toggle {
  height:60px;
}
 
 .navbar-shop-website {
  height:60px;
}

 .logo-image-container-toggle{
  padding-top:10px;
  margin-left:40%;
  width:20%;
}
}

@media (max-width: 768.99px){
   
   #navbar-container-toggle {
     height:50px;
   }

  .navbar-shop-website {
    height:50px;
   }
 
  .logo-image-container-toggle{
    margin-left: 30%;
    width:40%;
    max-height:100%; 
    padding-top:10px; 
  }

    #logo-bar-toggle {
     height: 30px;
     max-height:100%;
     width:100%;
     max-width: 200px;
    }
}

.navbar-header {
  max-height:100%;
}

.logo-image-container {
  position:absolute;
  left:0;
  display:flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom:10px;
}

.logo-image-container-toggle {
  position:absolute;
  left:0;
  display:flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom:10px;
}

.navbar {
 line-height:1.4;
}



#navbar-container{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

#navbar-container-toggle{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

.navbar-shop-website a {
  color: white;
  position: relative;

}

.nav > li > a:hover {
  text-decoration:none;
  color: #15aeea;
  background-color: transparent;
}

.nav > li > a:focus {
 background-color: transparent;
}

.nav .open > a:focus {
   background-color:transparent;
}

.navbar-text {
  color: white;
  z-index: 1;
}

.navbar {
 margin-bottom: 3px;
}

#first-bar{
 position: absolute;
 left: 138px;
 bottom: 1px;
}

#second-bar{
 position: absolute;
 right: 116px;
 bottom: 1px;
}

#third-bar{
 position: absolute;
 right: 186px;
 bottom: 1px;
}

#logo-image{
  max-height: 100%;
  min-height: 69px;
  display:inline;
}

.navbar-toggle .icon-bar {
    background-color: #757373;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle {
 float:left;
}

.hover-gray:hover {
  background-color: #e6e6e6;
}

.mainLink {
  padding-right: 25px;
}

#basket-link{
  float: right;
  padding-top:25px;
  color: white;
  display:inline-block;
}

#basket-link-toggle {
 float: right;
 padding-top:0px;
 margin-right:5px;
 padding-left:0px;  
}

.navbar-nav {
 padding-top:23px;
}


.navbar-nav > li > a {
   font-size: 17px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bold;
}


@media only screen and (max-width: 768px) {
    
.hover-gray:hover {
        background-color: transparent;
    }
}

.item_count{
  clear:both;
  float:right;
}

#basket-link p{
  padding-right:3px;
}


@media (max-width: 767px){
.navbar-nav .open .dropdown-menu > li > a {
    color: white;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover{
      background-color: transparent;
    }
}

