@media (min-width: 1101px) {
  
  #logo-image{
    width: 350px;
    max-height: 100%;
  }

  #logo-bar-toggle {
    display:none;
  }

  #bs-example-navbar-collapse-1{
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px){
  
  #logo-image{
    max-width: 270px;
  }

  #logo-bar-toggle {
    display:none;
  }

   #bs-example-navbar-collapse-1{
    display: none !important;
  }

}

@media (max-width: 991px) {
  
  #navbar-container{
    display:none !important;
  }

  #bs-example-navbar-collapse-1{
    background-color: black;
  }

   #bs-example-navbar-collapse-1 > ul > li >  a{
    color:white;
   }

    #bs-example-navbar-collapse-1 > ul > li > ul > li >  a{
    color:white;
   }

}

@media (max-width: 991px) and (min-width: 769px){

 

  #logo-bar-toggle {
  max-height: 100%;
  width: 350px;
}

}

@media (max-width: 768px){

  #logo-bar-toggle {
  max-height: 100%;
  width: 200px;
  }
}

.navbar {
 line-height:1.4;
}



#navbar-container{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

#navbar-container-toggle{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

.navbar-shop-website a {
  color: white;
  position: relative;

}

.nav > li > a:hover {
  text-decoration:none;
  color: #15aeea;
  background-color: transparent;
}

.nav > li > a:focus {
 background-color: transparent;
}

.nav .open > a:focus {
   background-color:transparent;
}

.navbar-text {
  color: white;
  z-index: 1;
}

.navbar {
 margin-bottom: 3px;
}

#first-bar{
 position: absolute;
 left: 138px;
 bottom: 1px;
}

#second-bar{
 position: absolute;
 right: 116px;
 bottom: 1px;
}

#third-bar{
 position: absolute;
 right: 186px;
 bottom: 1px;
}

.logo-image-container{
  flex-grow: 1;
  flex-shrink: 1;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#logo-image{
  min-height: 69px;
  display:inline;
}

.navbar-toggle .icon-bar {
    background-color: #757373;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle {
 float:left;
}

.hover-gray:hover {
  background-color: #e6e6e6;
}

.mainLink {
  padding-right: 25px;
}

#basket-link{
  float: right;
  padding-top:5px;
  color: white;
  display:inline-block;
}

#basket-link-toggle {
 float: right;
 padding-top:5px;
 margin-right:5px;
 padding-left:0px;  
}

.navbar-nav > li > a {
   font-size: 17px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: bold;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #logo-bar-toggle{
      position:absolute;
    }

    .hover-gray:hover {
        background-color: transparent;
    }
}

.item_count{
  clear:both;
  float:right;
}

#basket-link p{
  padding-right:3px;
}


@media (max-width: 767px){
.navbar-nav .open .dropdown-menu > li > a {
    color: white;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover{
      background-color: transparent;
    }
}

