.shop-content-margin {
 overflow:hidden;
 margin-bottom:0.6%;
}

.shop-content-pane-height {
 height: 90%;
}

.shop-header-pane-height {
 height: 5%;
}

.shop-content-height {
  height: 100%;
 }

#main-content {
 width: 100%;
 display: inline-block;
 line-height: 1.4;
 background-color: black;

}

#nav-main {
 line-height:1.4; 
 position: fixed;
 top:0;
 border-top: 0px;
 z-index: +3;
 width: 100%;
}

#main-footer {
 line-height: 1.4;
}

#scrollable-prod-div {
 position: relative;
}

.z-index-2 {
  position: absolute;
  right: 3%;
  z-index: 2;
}

#top-button {
 top: 0;
}

#bottom-button {
 bottom:0;
}

@media (min-width: 992px) { 
.shop-product-padding {
  padding-top: 20px;
  padding-left: 30%;
  padding-bottom: 10%;
  min-height: 129px; 
  
}

}

@media (max-width: 992px) { 
.shop-product-padding {
  padding-top: 0%;
  padding-left: 40%;
  min-height: 109px;
}

.shop-content-margin {
 min-height: 340px;
}

}

.shop-padding {
 padding-left: 0.15%;
 padding-right: 0.15%;
}

.shop-white-background {
 background-color: white;
 }

.shop-content-thirds-height {
 height: 33.1%;
 margin-bottom: 0.6%;
}

.jumbotron-bg {
  
  position: fixed;
  top: 20px;
  z-index: -1;
  height: 70%;
  overflow: hidden;
}

.jumbotron {
   
   background-color: transparent;
   width:100%;
   height:70%;
   position:relative;
   margin-top:3%;
   margin-bottom:7%;
   z-index:-1;
}




