.shop-content-margin {
 margin-bottom:0.6%;
 overflow:hidden;
}

.shop-content-pane-height {
 height: 95%;
}

.shop-header-pane-height {
 height: 5%;
}

.shop-content-height {
  height: 100%;
 
}

.scrollbox {
 overflow: auto;
}


@media (min-width: 992px) { 
.shop-product-padding {
  padding-top: 20px;
  padding-left: 30%;
  padding-bottom: 10%;
  min-height: 129px; 
}
}

@media (max-width: 992px) { 
.shop-product-padding {
  padding-top: 0%;
  padding-left: 40%;
  min-height: 109px;
}

.shop-content-margin {
 min-height: 340px;
}

}

.shop-padding {
 padding-left: 0.15%;
 padding-right: 0.15%;
}

.shop-white-background {
 background-color: white;
 }

.shop-content-thirds-height {
 height: 33.1%;
 margin-bottom: 0.6%;
}

.jumbotron {
   background:url("images/fs_pic.jpg") no-repeat;
   background-size: cover;
   width:100%;
   height:70%;
   position:relative;
   margin-bottom:7%;;
}



